---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: whoami
spec:
  routes:
   - kind: Rule
     match: Host(`whoami.rguido-tanzulab2.corp.local`)
     services:
        - kind: Service
          name: whoamiv1
          port: 80